<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Build Your Resume</title>
  </head>
  <body>
    <div class="container">
      <h1>Job Form</h1>
      <form method="post" action="/addjob">
        <div class="form-group">
          <label for="job-title">Job Title</label>
          <input type="text" class="form-control" name="job-title">
        </div>
        <div class="form-group">
          <label for="company-name">Company Name</label>
          <input type="text" class="form-control" name="company-name">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" name="location">
        </div>
        <div class="form-group">
          <label for="start-date">Start Date</label>
          <input type="text"start-date class="form-control" name="start-date">
        </div>
        <div class="form-group">
          <label for="end-date">End Date</label>
          <input type="text" class="form-control" name="end-date">
        </div>
        <div class="form-group">
          <label for="desc">Description</label>
          <input type="text" class="form-control" name="desc">
        </div>
        <button type="submit" class="btn btn-primary">Submit Job</button>
      </form>
    </div>

  </body>
</html>
